* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
font-family: "Tilt Warp", sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 24px;
}



p

{
font-family: "Open Sans", sans-serif;
font-size: 16px;
color: #878787;
line-height: 1.5;
}

h1
{
  font-size: 32px;
}
h2,
h3{
  font-family: "Tilt Warp", sans-serif; 
  font-size: 24px;
}
h4{
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 18px;
color: #878787;
line-height: 1.5;
}
a {
  margin: 0;
  font-weight: 600;
}

a,
{
  color: #9654E5;
    text-decoration: none;

}
a:visited,
a:hover {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem AUTO;
  text-align: center;
}

.intro__hed {
  font-size: 2em;
  margin: 6rem auto 2rem auto;

}


.intro__hed_top {
  font-size: 2.5em;
  margin: 6rem auto 2rem auto;

}

.intro__dek {
  color: #4A4A4A;
font-size: 21px;
  text-align: left;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

#dynamic-image {
    width: 80%; /* Adjust to your desired width */
    height: auto; /* Maintain the aspect ratio */
    max-height: 75vh; /* Ensure it fits within the figure's height */
    object-fit: contain; /* Ensure the image fits nicely */
    display: block; /* Center alignment fix */
    margin: 0 auto; /* Center the image horizontally */
    padding-bottom: 50px;
}

#highlightpurple{
  color: #9654E5;
}


#highlightblue{
  color: #4328E7;
}

#lilnote{
  font-size: 18px;
   font-family: "Tilt Warp", sans-serif;
  color: #878787;
  text-align: left;
  margin: 0;
}

h1{
    font-family: "Tilt Warp", sans-serif;


}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#intro {
  margin-bottom: 320px;
}

#outro {
  height: 200px;
}

.centered-image {
    display: block;
    margin: 0 auto; /* Horizontally center */
    max-width: 100%; /* Scale image to fit container */

    object-fit: contain; /* Ensure it scales nicely */
}

.basicbitch {
    margin: 50px 50px;
    text-align: center;
}


#grey-one{
  background-color: #F7F7F7;
  padding-top: 25px; 
  padding-bottom: 25px;
}

#explainer{
  max-width: 40rem;
  margin: 6rem AUTO;
  text-align: left;
}


@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}
